body {
  margin: 0px;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: var(--Tint_Gray-100_White, #fff);
}

.header {
  display: flex;
  width: 100%;
  padding-top: 10px;
  padding-bottom: 10px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  background: var(--Tint_Gray-97, #f7f7f8);
}

.center {
  display: flex;
  width: 340px;
  padding: 0px 10px;
  justify-content: space-between;
  align-items: center;
  flex-shrink: 0;
}

.header-text {
  display: flex;
  padding-left: 28px;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  flex: 1 0 0;
  align-self: stretch;
}

.header-text-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex: 1 0 0;
  align-self: stretch;
  color: var(--Primary-27_Variant, #225867);
  text-align: center;
  font-family: 'Noto Sans';
  font-size: 30px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.info-button {
  display: flex;
  width: 28px;
  height: 28px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 50%;
  border: 3px solid var(--Primary-47_Primary, #3c9ab4);
  cursor: pointer;
}

.info-button-content {
  color: var(--Primary-47_Primary, #3c9ab4);
  text-align: center;
  font-family: 'Noto Sans';
  font-size: 22px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.scroll-container {
  display: flex;
  width: 360px;
  padding: 0px;
  flex-direction: column;
  align-items: center;
  flex: 1 0 0;
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  align-self: stretch;
}

.enter {
  display: flex;
  padding: 10px 0px;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  align-self: stretch;
}

.enter-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  align-self: stretch;
}

.text-bold {
  align-self: stretch;
  color: #000;
  font-family: 'Noto Sans';
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.text-medium {
  align-self: stretch;
  color: #000;
  font-family: 'Noto Sans';
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.enter-form {
  display: flex;
  padding: 10px;
  align-items: center;
  gap: 10px;
  align-self: stretch;
  border-radius: 15px;
  border: 2px solid var(--Primary-47_Primary, #3c9ab4);
  background: var(--Tint_Gray-97, #f7f7f8);
  color: #000;
  font-family: 'Noto Sans';
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.input-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 10px;
  align-self: stretch;
}

.form-and-error {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  align-self: stretch;
}

.enter-form::placeholder {
  flex: 1 0 0;
  color: var(--Tint_Gray-80, #cacdce);
  font-family: 'Noto Sans';
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.error-message {
  color: #b43c3c;
  text-align: center;
  font-family: 'Noto Sans';
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  display: none;
}

.button-solve:active {
  background: var(--Primary-37, #307b8f);
}

.button-solve {
  display: flex;
  padding: 12px 20px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  align-self: stretch;
  border-radius: 15px;
  background: var(--Primary-47_Primary, #3c9ab4);
  cursor: pointer;
  border-width: 0px;
}

.button-solve-content {
  color: var(--Tint_Gray-100_White, #fff);
  text-align: center;
  font-family: 'Noto Sans';
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.result {
  display: flex;
  padding: 10px 0px;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  align-self: stretch;
}

form {
  margin: 0px;
  padding: 0px;
}

.result-summary {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  align-self: stretch;
}

.result-summary-title {
  align-self: stretch;
  color: #000;
  font-family: 'Noto Sans';
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.words-count {
  align-self: stretch;
  color: #000;
  font-family: 'Noto Sans';
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.n-letter {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  align-self: stretch;
}

.n-letter-title {
  align-self: stretch;
  color: #000;
  font-family: 'Noto Sans';
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.n-letter-count {
  align-self: stretch;
  color: #000;
  font-family: 'Noto Sans';
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.word-card {
  display: inline-flex;
  padding: 5px 10px;
  justify-content: center;
  align-items: center;
  border-radius: 15px;
  background: var(--Tint_Gray-97, #f7f7f8);
}

.words {
  display: flex;
  padding: 10px;
  align-items: center;
  align-content: center;
  gap: 10px;
  align-self: stretch;
  flex-wrap: wrap;
}

.word-card:hover {
  background: var(--Primary-87, #cde7ee);
}

.word-content {
  color: #000;
  text-align: center;
  font-family: 'Noto Sans';
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
